:root{
    --bg-main: white;
    --footer: #39529A;
    --text-header: #1b3fab;
    --text-all: black;
    --header: rgb(208, 208, 208);
    --text-alt: white;

}

*{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    background-color: var(--bg-main);
}

header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
    border-bottom: 1px solid #ddd;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
 .logo {
    height: 50px;
    padding-left: 15px;
}
.language{
    height: 30px;
}
.profile{
    height: 30px;
    padding-top: 40px ;
}
.profile-button, 
.language-button{
    width: 100%;
    padding: 10px;
    background-color: var(--header);
    color: rgb(84, 83, 83);
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.email-button{
    width: 100%;
    padding: 10px;
    background-color: var(--header);
    color: rgb(84, 83, 83);
    border: none;
    cursor: pointer;
    font-size: 25px;
}

/* Container styles */
.container {
    padding: 20px;
    margin: 25px;
    text-align: center;
    flex: 1;
}
.mail-container{
    height: 64%;
    padding: 20px;
    margin: 25px;
    text-align: center;
    flex: 1;
}

/* Title styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #39529A;
}

/* Input and button styles */
input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #39529A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 838px) {
    table {
        size: 50%;
     }
 }

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
}

.links{
    color: white;
}
h3, h4, h5, h6 {
    text-align: left; /* Заголовки всех уровней выравниваются по левому краю */
    font-weight: bold; /* Общая стилизация для заголовков */
    margin-bottom: 15px; /* Отступ под каждым заголовком */
    color: #39529A; /* Цвет текста заголовков */
}
.filters {
    margin: 10px;
}
.filters span {
    margin-right: 10px;
    cursor: pointer;
    color: #39529A;
}
.filters span.active {
    font-weight: bold;
}

/* Footer styles */
footer {
    background-color: var(--footer); /* Цвет фона футера */
    height: 80px; /* Увеличиваем высоту футера */
    margin-top: 80px;
    display: flex; /* Используем flexbox */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    text-align: center; /* Дополнительно, чтобы текст центрировался */
    font-size: 16px; /* Увеличиваем размер шрифта, если требуется */
    color: white; /* Цвет текста */
}

/* Rectangles as links */
.rectangle {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #39529A;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
.rectangle_mail{
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #39529A;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
.span-text{
    padding: 26px;
}

.rectangle:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Detail page buttons */
.detail-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px 0;
}

.detail-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #39529A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.detail-buttons a:hover {
    background-color: #2c3d75;
}

/* Login Page Styles */
.login-container {
    height: 66%;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container .btn {
    background-color: #39529A;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container .btn:hover {
    background-color: #2c3d75;
}

/* Dashboard Styles */
.dashboard-container {
    padding-top: 90px;
    height: 55%;
    margin: 20px ;
    text-align: center;
}

.admin-container {
    padding-top: 90px;
    margin: 20px ;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #39529A;
    margin-bottom: 10px;
}

.profile-name {
    font-weight: bold;
    font-size: 18px;
    color: #39529A;
}

.registers h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #39529A;
}

.register-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.register-table th,
.register-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.register-table th {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #39529A;
}

.dashboard-buttons {
    gap: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dashboard-buttons .btn {
    background-color: #39529A;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.dashboard-buttons .btn:hover {
    background-color: #2c3d75;
}

.university-name {
    font-weight: 900;        /* Максимально жирный шрифт */
    color: #2c3d75;          /* Тёмно-синий цвет */
    font-size: 1.3em;        /* Немного увеличенный размер текста */
}
.mail-box {
    display: none;
}

.mail-box.active {
    display: block;
}

.mail-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buttons {
    gap: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: #1E3A77;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #142A54;
}
/* Стили заголовка страницы */
.experts-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

/* Стили списка экспертов */
.experts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

/* Карточка эксперта */
.expert-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Изображение эксперта */
.expert-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

/* Информация об эксперте */
.expert-info {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

/* Кнопки под списком */
.page-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 65%;
    
}

.page-buttons .btn {
    background-color: #2b3f88;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-buttons .btn:hover {
    background-color: #1a275e;
}
/* Стили формы */
.add-expert-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    padding-bottom: 150px;
    gap: 20px;
}

/* Метка и ввод текста */
.form-label {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Превью сотрудника */
.expert-preview {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    width: 100%;
    height: 80%;
}

/* Фото сотрудника */
.expert-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* Информация о сотруднике */
.expert-info {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

/* Кнопки под формой */
.page-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-buttons .btn {
    background-color: #2b3f88;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-buttons .btn:hover {
    background-color: #1a275e;
}
/* Модальное окно */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Содержимое модального окна */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
}

/* Кнопка закрытия модального окна */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}


/* Текст в модальном окне */
#modal-text {
    font-size: 18px;
    margin-top: 10px;
}

ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 15px; /* Отступ между элементами списка */
    font-size: 18px;
    color: #555;
    text-align: left;
}

ul li strong {
    font-weight: bold;
    color: #333; /* Цвет для выделенного текста */
}

ul li ul {
    margin-top: 10px; /* Отступ для вложенного списка */
    padding-left: 20px; /* Вложенные списки отступают от основного текста */
    list-style-type: disc; /* Маркеры для вложенных списков */
}

ul li ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

p {
    text-align: left; /* Текст всегда выравнивается по левому краю */
    line-height: 1.6; /* Интерлиньяж для удобства чтения */
    margin: 10px 0;
}

.detail-buttons {
    margin-top: 30px; /* Отступ сверху для блока кнопок */
    display: flex;
    gap: 15px; /* Расстояние между кнопками */
    justify-content: left; /* Выравнивание кнопок по левому краю */
}

.detail-buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #003366; /* Цвет кнопок */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.detail-buttons .btn:hover {
    background-color: #0055a5; /* Цвет при наведении */
}

.input-group {
    display: flex;
    align-items: center;
}

.add-author-button {
    margin-left: 10px;
    margin-bottom: 25px;
    padding: 8px 12px;
    font-size: 16px;
    color: white;
    background-color: #2b3e7c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-author-button:hover {
    background-color: #1a275a;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #2b3e7c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #1a275a;
}
.form-group2{
    text-align: left;
}
.form-group3{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
fieldset{
    text-align: left;
}
.leg{
    text-align: center;
}


